.work {
  padding-top: 10rem;

  &-list {
    @include flexbox;
  }

  &-column {
    flex: 1;
  }

  &-image {
    max-width: 48rem;
    max-height: 78rem;
    object-fit: cover;
  }

  &-content {
    color: white;
    text-align: center;
  }

  &-icon {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }

  &-title {
    text-transform: uppercase;
    margin-bottom: 1.5rem;
  }

  &-desc {
    font-family: $secondary-font;
    font-size: 1.5rem;
    font-weight: 300;
    font-style: italic;
  }

  @include maxWidth(767px) {
    padding-top: 5rem;

    &-icon {
      font-size: 1.5rem;
      margin-bottom: 1.2rem;
    }

    &-title {
      font-size: 1.2rem;
    }

    &-desc {
      font-size: 1.2rem;
    }
  }

  @include maxWidth(500px) {
    &-list {
      flex-direction: column;
    }

    &-image {
      max-height: 48rem;
    }
  }

  @include hoverEffect(".work-item", ".work-content", false);
}
