// colors
$primary-color: #e98383;
$secondary-color: #eed88a;
$tertiary-color: #95e1d3;
$title-color: #333333;
$text-color: #999999;
$gray-color: #f8f8f8;
$gray-dark-color: #cccccc;
$gray-light-color: #f5f5f5;
$gray-divider-color: #e5e5e5;
$border-color: #e7e7e7;

// font
$primary-font: "Montserrat", sans-serif;
$secondary-font: "Roboto", sans-serif;
$tertiary-font: "Kaushan Script", cursive;

// space
$wrapper: 1920px;
$container: 1200px;
