section.about#about
  .container 
    +blockBox('What we do', 'Story about us', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id eos magni eum itaque perferendis nemo totam earum error laudantium voluptatum, aliquam eligendi unde, amet quis soluta deserunt accusamus eaque tempora.')
    .about-list 
      +aboutItem('src/images/about1.jpg', 'Super Team', 'fa fa-user-group')
      +aboutItem('src/images/about2.jpg', 'Super Team', 'fa fa-user-group')
      +aboutItem('src/images/about3.jpg', 'Super Team', 'fa fa-user-group')
    