footer.footer#contact
  .container 
    .footer-top 
      .footer-column 
        h3.footer-heading.footer-heading--logo Mogo 
        p.footer-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        p.footer-follower  <strong>15k</strong> followers
        .footer-divider 
        .footer-social 
          span Follow Us: 
          .footer-social-list 
            a(href='#')
              i.fab.fa-facebook
            a(href='#')
              i.fab.fa-twitter
            a(href='#')
              i.fab.fa-instagram
            a(href='#')
              i.fab.fa-pinterest
            a(href='#')
              i.fab.fa-google-plus
            a(href='#')
              i.fab.fa-youtube
            a(href='#')
              i.fab.fa-dribbble
            a(href='#')
              i.fab.fa-tumblr
        form.footer-form
          input(type="email" placeholder="Your Email").footer-form-input
          button(type="button").footer-form-button Subscribe
      .footer-column 
        h3.footer-heading Blogs
        a.footer-blog(href='#')
          img.footer-blog-image(src="src/images/blog-small1.jpg")
          .footer-blog-info 
            h4.footer-blog-title Lorem ipsum dolor sit amet, consectetur adipiscing
            span.footer-blog-date Jan 9, 2016
        a.footer-blog(href='#') 
          img.footer-blog-image(src="src/images/blog-small2.jpg")
          .footer-blog-info 
            h4.footer-blog-title Lorem ipsum dolor sit amet, consectetur adipiscing
            span.footer-blog-date Jan 9, 2016
        a.footer-blog(href='#') 
          img.footer-blog-image(src="src/images/blog-small3.jpg")
          .footer-blog-info 
            h4.footer-blog-title Lorem ipsum dolor sit amet, consectetur adipiscing
            span.footer-blog-date Jan 9, 2016
      .footer-column 
        h3.footer-heading Instagram 
        .footer-images 
          img(src="src/images/instagram1.jpg")
          img(src="src/images/instagram2.jpg")
          img(src="src/images/instagram3.jpg")
          img(src="src/images/instagram4.jpg")
          img(src="src/images/instagram5.jpg")
          img(src="src/images/instagram6.jpg")
          img(src="src/images/instagram7.jpg")
          img(src="src/images/instagram8.jpg")
          img(src="src/images/instagram9.jpg")
        p.footer-view-more View more photos
    .footer-bottom &copy; 2016 MoGo free PSF template by 
      span Laaqiq
