section.people 
  .container 
    +blockBox('Happy Clients', 'What people say')
    ul.people-list 
      +peopleItem('src/images/people2.png', 'Matthew Dix', 'Graphic design', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.')
      +peopleItem('src/images/people3.png', 'Nick Karvounis', 'Graphic design', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.')
      +peopleItem('src/images/people4.png', 'Jaelynn Castillo', 'Graphic design', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.')
      +peopleItem('src/images/people5.png', 'Mike Petrucci', 'Graphic design', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.')
