section.service#service
  .container 
    +blockBox('We work with', 'Amazing Services')
    .service-list 
      +serviceItem('src/images/service1.jpg', 'photography', 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia reprehenderit perspiciatis molestiae.')
      +serviceItem('src/images/service2.jpg', 'web design', 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia reprehenderit perspiciatis molestiae.')
      +serviceItem('src/images/service3.jpg', 'creativity', 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia reprehenderit perspiciatis molestiae.')
    .service-divider
    .service-list 
      +serviceItem('src/images/service4.jpg', 'seo', 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia reprehenderit perspiciatis molestiae.')
      +serviceItem('src/images/service5.jpg', 'css/html', 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia reprehenderit perspiciatis molestiae.')
      +serviceItem('src/images/service6.jpg', 'digital', 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia reprehenderit perspiciatis molestiae.')
