section.story#blog
  .container 
    +blockBox('Our stories', 'Latest blog')
    ul.story-list 
      +storyItem('src/images/blog1.jpg', 'Lorem ipsum dolor sit amet', 'Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.', 542, 17, 15, 'Jan')
      +storyItem('src/images/blog2.jpg', 'Lorem ipsum dolor sit amet', 'Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.', 992, 42, 14, 'Jan')
      +storyItem('src/images/blog3.jpg', 'Lorem ipsum dolor sit amet', 'Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.', 1560, 98, 12, 'Jan')

section.map
    i.fa.fa-location-dot
    h3 open map
    .divider