section.work#work
  .container 
    +blockBox('What we do', 'Some of our work', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.')
  .work-list 
    .work-column 
      +workItem('src/images/work1.jpg', 'creatively designed', 'Lorem ipsum dolor sit')
      +workItem('src/images/work2.jpg', 'creatively designed', 'Lorem ipsum dolor sit')
    .work-column 
      +workItem('src/images/work3.jpg', 'creatively designed', 'Lorem ipsum dolor sit')
      +workItem('src/images/work4.jpg', 'creatively designed', 'Lorem ipsum dolor sit')
    .work-column 
      +workItem('src/images/work5.jpg', 'creatively designed', 'Lorem ipsum dolor sit')
    .work-column 
      +workItem('src/images/work6.jpg', 'creatively designed', 'Lorem ipsum dolor sit')
      +workItem('src/images/work7.jpg', 'creatively designed', 'Lorem ipsum dolor sit')
